@model IEnumerable<Festispec.WebApplication.Models.Inspectieformulier>

<link href="~/Content/Pages/assignment_search.css" rel="stylesheet" />

<h2>Jouw opdrachten</h2>

<hr />

@using (Html.BeginForm("Index", "Inspectionform", FormMethod.Get))
{
		<div class="col-md-12" style="display:inline-flex">
			<div class="col-md-11">
				@Html.TextBox("search", null, new { @class = "form-control", style = "width: 100%;"})

			</div>
			<div class="pull-right col-md-1">
				<input type="submit" value="Search" class="btn btn-default" />
			</div>
		</div>
	
	

}

<div class="row">
	<div class="col-md-6">
		<h2>Zoekresultaten</h2>
	</div>
</div>

@foreach (var item in Model)
{
	<div class="row result">
		<div class="col-md-12">
			<div class="col-md-3">
				Klant: @Html.DisplayFor(modelItem => item.Opdracht.OpdrachtNaam)
			</div>
			<div class="col-md-3">
				Stad: @Html.DisplayFor(modelItem => item.Stad)
			</div>
			<div class="col-md-3">
				Datum: @String.Format("{0:d/MM/yyyy}", @item.DatumInspectie)

			</div>
			<div class="col-md-3">
				<button>
					@Html.ActionLink("Meer info", "Details", "Inspectionform", new { inspectionId = item.InspectieformulierID, userId = (int?)Session["user"] }, null)
				</button>
			</div>
		</div>
	</div>
}
