<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Festispec web-portal</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/fontawesome")
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<a class="navbar-brand">
			<img src= "../Content/Images/festispec logo.png" height="25"/>
		</a>
	</div>
	@if (Session["user"] != null)
	{
		<div class="col-xs-12 navbar navbar-inverse navbar-fixed-bottom ">
				<a class="col-xs-3" href="@Url.Action("Index", "Inspectionform", new { userId = (int)Session["user"] })">
					<image src="~/Content/Images/jobs_icon.png" />
				</a>
				<a class="col-xs-3" href="@Url.Action("Index", "Dashboard")">
					<image src="~/Content/Images/dashboard_icon.png" />
				</a>
				<a class="col-xs-3" href="@Url.Action("AvailabilityView", "Availability")">
					<image src="~/Content/Images/planning_icon.png" />
				</a>
				<a class="col-xs-3" href="@Url.Action()">
					<image src="~/Content/Images/availability_icon.png" />
				</a>
		</div>
	}


	<div class="container body-content">
		@RenderBody()
		<footer>
			<p>&copy; @DateTime.Now.Year - FestispecQ </p>
		</footer>
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	@RenderSection("Scripts", false)
	@RenderSection("Style", false)
</body>
</html>