@model Festispec.WebApplication.Models.Account

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol_lookup.Betekenis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol_lookup.Betekenis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruikersnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wachtwoord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tussenvoegsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Straatnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Straatnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huisnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum_certificering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum_certificering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Einddatum_certificering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Einddatum_certificering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laatste_wijziging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laatste_wijziging)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
