@model Festispec.WebApplication.Models.Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gebruikersnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wachtwoord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tussenvoegsel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Achternaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Straatnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Straatnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Huisnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumCertificering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumCertificering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EinddatumCertificering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EinddatumCertificering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaatsteWijziging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaatsteWijziging)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
