@model IEnumerable<Festispec.WebApplication.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rol_lookup.Betekenis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Straatnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum_certificering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Einddatum_certificering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Laatste_wijziging)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rol_lookup.Betekenis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gebruikersnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wachtwoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tussenvoegsel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Straatnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huisnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum_certificering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Einddatum_certificering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laatste_wijziging)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })
        </td>
    </tr>
}

</table>
