@model IEnumerable<Festispec.WebApplication.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tussenvoegsel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Straatnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huisnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumCertificering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EinddatumCertificering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaatsteWijziging)
        </th>
        <th></th>
    </tr>

@foreach (Festispec.WebApplication.Models.Account account in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => account.Rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Gebruikersnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Wachtwoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Voornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Tussenvoegsel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Stad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Straatnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Huisnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.Telefoonnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.DatumCertificering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.EinddatumCertificering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.IBAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => account.LaatsteWijziging)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=account.AccountID }) |
            @Html.ActionLink("Details", "Details", new { id=account.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=account.AccountID })
        </td>
    </tr>
}

</table>