@model Festispec.WebApplication.ViewModels.Dashboard.DashboardViewModel

<link href="~/Content/Pages/dashboard.css" rel="stylesheet" />

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-6" >	
			<div class="intro">
				<img src="~/Content/Images/dashboard_image.png" />
			</div>
		</div>
		<div class=" col-md-6">
			<div class="upcoming">
				<h3 class="text-center">Aankomende opdrachten</h3>
				@*Start opdracht*@
				@if (Model.Account != null)
				{
					int counter = 0;
					foreach (var item in Model.Inspectionform)
					{
						counter++;
						<div class="row">
							<div class="task">
								<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 customer-logo">
									<img src="@String.Format("data:image/jpg;base64,{0}", item.LogoString)" />
								</div>
								<div class="col-xs-3 col-md-3">
									<p>Op <b>@String.Format("{0:d/MM}", @item.Inspectionform.DatumInspectie)</b></p>
								</div>
								<div class="col-xs-5 col-md-5">
									<p>in <b>@item.Inspectionform.Stad</b></p>
								</div>
								<div class="col-xs-1 col-md-1" style="padding-right:10px">
									@Html.ActionLink("Meer", "Details", "Inspectionform", new { inspectionId = item.Inspectionform.InspectieformulierID, userId = @Model.Account.AccountID }, null)
								</div>
							</div>
						</div>
						if (counter == 4) { break; }
					}
				}
			</div>

		</div>
	</div>
		
    
</div>