@model Festispec.WebApplication.ViewModels.Dashboard.DashboardViewModel

.<link href="~/Content/Pages/dashboard.css" rel="stylesheet" />

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
    <div class="row">
        <div id="logo" class=" col-md-4 text-center">
            <a href='@Url.Action("Index", "Dashboard")'>
                <img src="~/Content/Images/festispec_logo.png" />
            </a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Welkom bij FestiSpec</h1>

            @if (Model.Account != null)
            {
                <h2>@Model.Account.Gebruikersnaam</h2>
                <h2>@Model.Account.Wachtwoord</h2>
                <h3>@Model.Account.Voornaam</h3>
                int counter = 0;
                foreach (var item in Model.Inspectionform)
                {
                    counter++;
                    <h4>@item.InspectieformulierID</h4>
                    <h4>@item.InspectieFormulierTitel</h4>
                    if (counter == 3)
                    {
                        break;
                    }
                }
            }
            <h3 class="text-center">Dit is het applicatie dashboard, hier kun je makkelijk navigeren naar andere pagina's van de website.</h3>
            <div class="text-center">
                <h1 class="fa fa-home fa-5x"></h1>
            </div>
        </div>
        <div class="col-md-6 upcoming-tasks">
            <h1 class="text-center">Aankomende opdrachten</h1>
            @*Start opdracht*@
            @if (Model.Account != null)
            {
                int counter = 0;
                foreach (var item in Model.Inspectionform)
                {
                    counter++;
                    <div class="row">
                        <div class="task">
                            <div class="col-md-4">
                                <img class="img-circle" src="~/Content/Images/Dashboard_background.png" />
                            </div>
                            <div class="col-md-4">
                                <p><b>Datum: </b>@String.Format("{0:d/MM/yyyy}", @item.Datum_inspectie)</p>
                            </div>
                            <div class="col-md-4">
                                <button>
                                    Inspectieformulier bekijken
                                </button>
                            </div>
                        </div>
                    </div>
                    if (counter == 3)
                    {
                        break;
                    }
                }
            }

            <div class="col-md-12 text-center all-tasks">
                <a href='@Url.Action("Search", "Assignment", Model.Inspectionform)'>Alle opdrachten <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row big-buttons">
        <div class="col-md-6">

        </div>
        <div class="col-md-2 text-center">
            <img src="~/Content/Images/Dashboard_schedule.png" />
        </div>
        <div class="col-md-2 col-sm-12 text-center">
            <a href='@Url.Action("AvailabilityView", "Availability")'>
                <img src=~/Content/Images/Dashboard_planning.png     />
            </a>
        </div>
         
        <div class="col-md-2 col-sm-12 text-center">
            <img src="~/Content/Images/Dashboard_messages.png" />
        </div>
    </div>
</div>




