@model Festispec.WebApplication.ViewModels.Dashboard.DashboardViewModel

<link href="~/Content/Pages/dashboard.css" rel="stylesheet" />

@{
    ViewBag.Title = "Dashboard";
}

<div class="container">
	<div class="row">
		<div id="logo" class="col-md-6 text-left">
			<a href='@Url.Action("Index", "Dashboard")'>
				<img src="~/Content/Images/festispec_logo.png" />
			</a>
		</div>
		
	</div>
	<div class="row">

		<div class="col-md-6 image">
			<img src="~/Content/Images/dashboard image.png" />
		</div>
		<div class="col-md-6">
			<div class="upcoming-tasks">
				<h3 class="text-center">Aankomende opdrachten</h3>
				@*Start opdracht*@
				@if (Model.Account != null)
				{
					int counter = 0;
					foreach (var item in Model.Inspectionform)
					{
						counter++;
						<div class="row">
							<div class="task">
								<div class="col-md-2 col-sm-1">
									<img src="~/Content/Images/Dashboard_background.png" />
								</div>
								<div class="col-md-5 col-sm-1">
									<p><b>Datum: </b>@String.Format("{0:d/MM/yyyy}", @item.DatumInspectie)</p>
								</div>
								<div class="col-md-5 col-sm-1">
									<button>
										@Html.ActionLink("Inspectieformulier", "Details", "Inspectionform", new { inspectionId = item.InspectieformulierID, userId = @Model.Account.AccountID }, null)
									</button>
								</div>
							</div>
						</div>
						if (counter == 3)
						{
							break;
						}
					}
				}

				<div class="col-md-12 text-center all-tasks">
					<a href='@Url.Action("Search", "Assignment", Model.Inspectionform)'>Alle opdrachten <i class="fa fa-arrow-right"></i></a>
				</div>
			</div>
			
		</div>
		<div class="row big-buttons">
			<div class="col-md-6">

			</div>
			<div class="col-md-2 text-center">
				<img src="~/Content/Images/Dashboard_schedule.png" />
			</div>
			<div class="col-md-2 text-center">
				<a href='@Url.Action("AvailabilityView", "Availability")'>
					<img src=~/Content/Images/Dashboard_planning.png />
				</a>
			</div>

			<div class="col-md-2 text-center">
				<img src="~/Content/Images/Dashboard_messages.png" />
			</div>
		</div>
	</div>
    
</div>